<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4 Plus</title>
    <link rel="stylesheet" href="/resource/global.css">
    <link rel="stylesheet" href="/resource/base_menu.css">
    {% block metas %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <script src="/resource/jquery-3.5.0.min.js"></script>
    {% block scripts %}{% endblock %}
    <template id="ErrorAlert">
        <div class="ErrorAlert">
            <div class="content">
                <span class="close">&times;</span>
                <h1>// Alerte \\</h1>
            </div>
        </div>
    </template>
</body>
</html>