{% extends 'base_menu.html' %}

{% block metas %}
    <link rel="stylesheet" href="/resource/game_options_menu.css">
{% endblock %}

{% block scripts %}
    <script src="/resource/game_options_menu.js"></script>
{% endblock %}

{% block body %}
    <!-- {{ mode }}
    <a href="/">Retour</a> -->
    <header>
        <h2>Options de la partie</h2>
        <p>Mode <span class="mode glitch" data-text="{{ mode }}">{{ mode }}</span></p>
    </header>
    <main>
        <menu class="left">
            <h3>Plateau</h3>
            <div class="options">
                <section>
                    <h4>Pions à aligner</h4>
                    <input type="range" min="2" max="10" value="4" class="slider" name="win_condition">
                    <div class="sliderValue win_condition">4</div>
                </section>
                <section>
                    <h4>Lignes</h4>
                    <input type="range" min="2" max="10" value="6" class="slider" name="height">
                    <div class="sliderValue height">6</div>
                </section>
                <section>
                    <h4>Colonnes</h4>
                    <input type="range" min="2" max="10" value="7" class="slider" name="width">
                    <div class="sliderValue width">7</div>
                </section>
            </div>
        </menu>
        <menu class="right">
            <h3>Joueurs</h3>
            <div class="options players">
                <template class="player">
                    <div class="player">
                        <!-- <span class="id"></span> -->
                        <input class="name" type="text" maxlength="10" placeholder="Nom">
                        <span class="color"></span>
                        <button class="delete">&times;</button>
                    </div>
                </template>
                <button class="newPlayer" onclick="newPlayer()">+</button>
            </div>
        </menu>
    </main>
    <footer>
        <button class="back">Retour</button>
        <button class="play">Jouer</button>

    </footer>
{% endblock %}