<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4 Plus</title>
    <link rel="stylesheet" href="/resource/global.css">
    <link rel="stylesheet" href="/resource/game_board.css">
</head>
<body>
    <header>
        Ceci est une échauche du board
    </header>
    <menu>
        Ici seront les messages aux joueurs
    </menu>
    <main>
        <table class="board"></table>
        <canvas class="board"></canvas>
    </main>
    <script src="/resource/jquery-3.5.0.min.js"></script>
    <script src="/resource/game_board.js"></script>
</body>
</html>