{% extends 'base_menu.html' %}

{% block metas %}
    <link rel="stylesheet" href="/resource/game_options_menu.css">
{% endblock %}

{% block scripts %}
    <script src="/resource/game_options_menu.js"></script>
{% endblock %}

{% block body %}
    <!-- {{ mode }}
    <a href="/">Retour</a> -->
    <header>
        <h2>{{ lang.title }}</h2>
        <p>{{ lang.mode }} <span class="mode glitch" data-text="{{ mode }}">{{ mode }}</span></p>
    </header>
    <main>
        <menu class="left">
            <h3>{{ lang.board }}</h3>
            <div class="options">
                <section>
                    <h4>{{ lang.winLength }}</h4>
                    <input type="range" min="2" max="10" value="4" class="slider" name="win_condition">
                    <div class="sliderValue win_condition">4</div>
                </section>
                <section>
                    <h4>{{ lang.rows }}</h4>
                    <input type="range" min="4" max="10" value="6" class="slider toMinimalize" name="height">
                    <div class="sliderValue height">6</div>
                </section>
                <section>
                    <h4>{{ lang.columns }}</h4>
                    <input type="range" min="4" max="10" value="7" class="slider toMinimalize" name="width">
                    <div class="sliderValue width">7</div>
                </section>
            </div>
        </menu>
        <menu class="right">
            <h3>{{ lang.players }}</h3>
            <div class="options players">
                <template class="player">
                    <div class="player">
                        <!-- <span class="id"></span> -->
                        <input class="name" type="text" maxlength="10" placeholder="{{ lang.name }}">
                        <span class="color"></span>
                        <button class="delete">&times;</button>
                    </div>
                </template>
                <button class="newPlayer" onclick="newPlayer()">+</button>
            </div>
        </menu>
    </main>
    <footer>
        <button class="back">{{ lang.back }}</button>
        <button class="play">{{ lang.play }}</button>
    </footer>
{% endblock %}