<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4 Plus</title>
    <link rel="stylesheet" href="/resource/global.css">
    <link rel="stylesheet" href="/resource/game_board.css">
</head>
<body>
    <header>
        Ceci est une ébauche du board
    </header>
    <menu>
        <h2>Joueurs</h2>
        <span class="currentPlayer" style="background: #0F0">Joueur1</span>
        <h2>Partie</h2>
        <div class="stat gameTime">
            <span class="title">Temps :</span><span class="value">00:50</span>
        </div>
    </menu>
    <main>
        <canvas class="board"></canvas>
    </main>
    <script src="/resource/jquery-3.5.0.min.js"></script>
    <script src="/resource/game_board.js"></script>
</body>
</html>