{% extends 'base_menu.html' %}

{% block metas %}
    <link rel="stylesheet" href="/resource/main_menu.css">
{% endblock %}

{% block scripts %}
    <script src="/resource/main_menu.js"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>Puissance 4 Plus</h1>
        <p>Version 2020</p>
    </header>
    <main>
        <nav>
            <button data-target="play">Jouer</button>
            <button data-target="rules">Règles</button>
            <button data-target="settings">Options</button>
            <button data-target="quit">Quitter</button>
        </nav>
        <menu data-menu="play" style="display: none;">
            <a href="/gameOptions?mode=SOLO">Mode solo</a>
            <a href="/gameOptions?mode=CLASSIC">Mode classique</a>
            <a href="/gameOptions?mode=TIMEATTACK">Mode contre la montre</a>
            <a href="/gameOptions?mode=RANDOM">Mode roulette</a>
        </menu>
        <menu data-menu="rules" style="display: none;">
            regles
        </menu>
        <menu data-menu="settings" style="display: none;">
            <form action="/settings" method="GET">
                <section class="lang">
                    <h2>Langue</h2>
                    <div>
                        <label>
                            <input type="radio" name="lang" value="fr">
                            <img src="/resource/fr.jpg" alt="Français">
                        </label>
                        <label>
                            <input type="radio" name="lang" value="en">
                            <img src="/resource/en.jpg" alt="English">
                        </label>
                    </div>
                </section>
                <section class="fullscreen">
                    <h2>Plein écran</h2>
                    <input id="fullscreen" class="toggle" name="fullscreen" type="checkbox">
                    <label for="fullscreen" class="toggle"></label>
                </section>
                <section class="submit">
                    <input type="submit" value="Appliquer">
                </section>
            </form>
        </menu>
        <menu data-menu="quit" style="display: none;">
            quitt
            <a href="/close">QUITTER LA TAMER</a>
        </menu>
    </main>
{% endblock %}