{% extends 'base_menu.html' %}

{% block metas %}
    <link rel="stylesheet" href="/resource/main_menu.css">
{% endblock %}

{% block scripts %}
    <script src="/resource/main_menu.js"></script>
{% endblock %}

{% block body %}
    <header>
        <a href="/gameOptions?mode=EASTEREGG"><h1>{{ lang.title }}</h1></a>
        <p>{{ lang.subtitle }}</p>
    </header>
    <main>
        <nav>
            <button onclick="openMenu('play')"><span class="glitch" data-text="{{ lang.play }}">{{ lang.play }}</span></button>
            <button onclick="openMenu('rules')">{{ lang.rules }}</button>
            <button onclick="openMenu('settings')">{{ lang.settings }}</button>
            <button onclick="openMenu('close')">{{ lang.close }}</button>
        </nav>
        <menu data-menu="play" style="display: none;">
            <a href="/gameOptions?mode=SOLO">{{ lang.soloMode }}</a>
            <a href="/gameOptions?mode=CLASSIC">{{ lang.classicMode }}</a>
            <a href="/gameOptions?mode=TIMEATTACK">{{ lang.timeAttackMode }}</a>
            <a href="/gameOptions?mode=RANDOM">{{ lang.randomMode }}</a>
        </menu>
        <menu data-menu="rules" style="display: none;">
            {% for rule in rules %}
                <h1>{{ rule.title }}</h1>
                <p>
                {% for line in rule.content %}
                    {{ line }}
                {% endfor %}
                </p>
            {% endfor %}
        </menu>
        <menu data-menu="settings" style="display: none;">
            <form action="/settings" method="GET">
                <section class="lang">
                    <h2>{{ lang.language }}</h2>
                    <div>
                        <label>
                            <input type="radio" name="lang" value="fr" {% if (selected_lang == "fr") %}checked{% endif %}>
                            <img src="/resource/fr.jpg" alt="Français">
                        </label>
                        <label>
                            <input type="radio" name="lang" value="en" {% if (selected_lang == "en") %}checked{% endif %}>
                            <img src="/resource/en.jpg" alt="English">
                        </label>
                        <label>
                            <input type="radio" name="lang" value="nl" {% if (selected_lang == "nl") %}checked{% endif %}>
                            <img src="/resource/nl.jpg" alt="Nederlands">
                        </label>
                    </div>
                </section>
                <section class="fullscreen">
                    <h2>{{ lang.fullscreen }}</h2>
                    <input id="fullscreen" class="toggle" name="fullscreen" type="checkbox" {{ is_full_screen }}>
                    <label for="fullscreen" class="toggle"></label>
                </section>
                <section class="volume">
                    <h2>{{ lang.volume }} <small class="displayVolume">[{{ volume }}]</small></h2>
                    <input id="volume" class="slider" name="volume" type="range" min="0" max="100" step="1" value="{{ volume }}">
                </section>
                <section class="submit">
                    <input type="submit" value="{{ lang.apply }}">
                </section>
            </form>
        </menu>
        <menu data-menu="close" style="display: none;">
            <a href="/close">{{ lang.closeConfirm }}</a>
        </menu>
    </main>
{% endblock %}