/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    width: 100%;
    height: calc(100vh / 4);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--white);
    /* animation: textglow 10s ease-in-out infinite alternate; */
    text-shadow: 
        0 0 5px var(--primary),
        0 0 10px var(--primary), 
        0 0 15px var(--primary), 
        0 0 20px var(--primary), 
        0 0 25px var(--primary), 
        0 0 30px var(--primary), 
        0 0 35px var(--primary), 
        0 0 45px var(--primary);
}
header h1 {
    font-size: 3em;
    margin: 5vmin 0;
    margin-bottom: 0;
}
header h2 {
    font-size: 2em;
    margin: 5vmin 0;
    margin-bottom: 0;
}
header p {
    font-size: 1.5em;
    margin: 0;
    margin: 2.5vmin 0;
}
header img#mainlogo{
    height: 100%;
}
/* ErrorAlert */
.ErrorAlert {
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);

}
.ErrorAlert .content {
    z-index: 905;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 30vw;
    min-width: 300px;
    padding: 5vmin;
    margin: 10px;
    background: var(--secondary);
    color: var(--white);
    text-align: center;
}
.ErrorAlert .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    margin: 0 5px;
    cursor: pointer;
    transition: all 75ms ease-in-out;
}
.ErrorAlert .close:hover {
    transform: scale(1.2);
    filter: brightness(.9);
}
.ErrorAlert h1 {
    color: var(--primary);
    text-shadow: var(--shadow);
    margin-top: 0;
    text-align: center;
}