body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("/resource/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "nasa";
    font-size: 20px;
}
/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    width: 100%;
    height: calc(100vh / 3);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--white);
    animation: textglow 10s ease-in-out infinite alternate;
}
header h1 {
    font-size: 3em;
    margin: 5vmin 0;
}
header h2 {
    font-size: 2em;
    margin: 5vmin 0;
}
header p {
    font-size: 1.5em;
    margin: 0;
    margin: 2.5vmin 0;
}