header .mode {
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 5px;
}
/* MAIN */
main {
    position: absolute;
    top: calc(100vh / 4);
    left: 0;
    z-index: 10;
    margin: 0;
    width: 100%;
    height: calc(100vh / 4 * 2);
}
main menu {
    position: absolute;
    top: 0;
    width: calc(50vw - 15vmin);
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--white);
    background: var(--primary);
    box-shadow: var(--shadow);
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    overflow: auto;
}
main menu.left {
    left: 10vmin;
}
main menu.right {
    right: 10vmin;
}
main menu h3 {
    font-size: 1.5em;
    width: 100%;
    margin: 15px 0;
    text-align: center;
    color: var(--white);
}
main menu .options {
    flex: 1;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: space-around; */
    align-items: stretch;
    align-content: stretch;
}
main menu .options section {
    box-sizing: border-box;
    margin: 0 20px;
}
main menu .options section h4 {
    margin: 10px 0;
}
main menu .players {
    overflow: auto;
}
main menu button.newPlayer {
    margin: 0 auto;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.5rem;
    background: var(--white);
}
main menu .player {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
main menu .player > * {
    flex: 1;
}
main menu .player > *:not(:last-child) {
    margin-right: 20px;
}
main menu .player .id,
main menu .player .delete {
    max-width: 30px;
    padding: 0;
}
main menu .player .name {
    border: none;
    font-size: 1rem;
    background: var(--white);
    padding: 5px;
    box-sizing: border-box;
}
main menu .player .delete {
    background: none;
    border: none;
    color: var(--secondary);
    font-size: 1.5rem;
    cursor: pointer;
}
/* FOOTER */
footer {
    position: absolute;
    top: calc(100vh / 4 * 3);
    left: 0;
    z-index: 10;
    margin: 0;
    width: 100%;
    height: calc(100vh / 4);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer button {
    display: block;
    width: 200px;
    height: 50px;
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow);
    margin: 20px;
    border: none;
    cursor: pointer;
    font-family: "nasa";
    font-size: 1.5em;
    transition: all 75ms ease-in-out;
}
footer button:hover {
    transform: scale(1.05) skewX(-5deg);
    filter: brightness(.9);
}