/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 30vw);
    height: 20vh;
    padding: 5vmin;
    box-sizing: border-box;
    color: var(--white);
}
/* MENU */
menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    color: var(--white);
    background: var(--primary);
    box-shadow: var(--shadow);
    overflow: auto;
}
menu h2 {
    margin: 25px;
    padding: 15px 0;
    background: var(--secondary);
    color: var(--white);
}
menu .player {
    position: relative;
    display: inline-block;
    width: calc(100% - 20px);
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}
menu .player.current::before {
    position: absolute;
    left: 10px;
    content: "▶";
    color: var(--secondary);
    animation: rightBouncing 2s ease-in-out infinite reverse;
}
menu hr {
    height: 5px;
    margin: 25px 0;
    background: var(--secondary);
    border: none;
}
menu .message {
    position: relative;
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    font-family: sans-serif;
    background: var(--white);
    box-shadow: var(--shadow);
    color: var(--secondary);
}
menu button.giveUp {
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 15px 0;
    border: none;
    font-family: "nasa";
    background: var(--secondary);
    color: var(--white);
    cursor: pointer;
}
/* MAIN */
main {
    position: absolute;
    /* top: 20vmin; */
    /* height: calc(100vh - 20vh); */
    height: 100vh;
    top: 0;
    left: 0;
    width: calc(100vw - 30vw);
    padding: 5vmin;
    box-sizing: border-box;
    color: var(--white);
}
canvas.board {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow);
    cursor: pointer;
}